<div class="container">
  <h2>{{ cardTitle }}</h2>

  <h3>This is article text: {{ articleText }}</h3>

  <div class="card-container">
    <ng-container *ngFor="let cart of carts">
      <app-cart
        [title]="cart.title"
        (myTitleChange)="handleClick($event)"
      ></app-cart>
    </ng-container>
  </div>

  <ng-container *ngFor="let article of articles">
    <app-article
      [title]="article.title"
      [text]="article.text"
      (myTextChange)="handleText($event)"
    ></app-article>
  </ng-container>
</div>
