.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.link-active {
  background-color: skyblue;
}

.link {
  padding: 15px 0 15px 10px;
  display: block;
  width: 100%;
}
